<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="padding: 50px;">
            <h3 class="grey lighter smaller" style="color: #035215; padding-bottom: 30px;">
              <span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
                404
              </span>
              Không tìm thấy trang
            </h3>
    
            <hr />
            <h5>
              Rất tiếc, trang bạn muốn tìm không tồn tại
            </h5>
    
            <br>
    
            <hr />
            <div class="space"></div>
    
            <div class="center" style="margin-left: 350px;">
              <a href="javascript:history.back()" class="btn btn-grey" style="color: #f90202">
                <i class="ace-icon fa fa-arrow-left" style="padding-right: 10px;"></i>
                Quay lại
              </a>
            </div>
      </div>
    </div>
  </div>