<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" style="background: #28a745;">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link" style="    border-bottom: 1px solid white;">
    <img src="assets/img/cay.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light" style="color: white;">TN Shop</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="    border-bottom: 1px solid white;">
      <div class="image">
        <img style="width:30px;height:30px" src="assets/img/tien.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block" style="color: white;">Mrs.Tien Nguyen</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
      <ng-container *ngFor="let mn of menus">
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="menu-icon fa fa-{{mn.icon}}" style="padding-right:10px;color: white;"></i>
            <p style="color: white;">
              {{mn.name}}
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <ng-container  *ngFor="let m of mn.childs" >
            <li class="nav-item">
              <a routerLink ="{{m.url}}"class="nav-link">
                <i class="far fa-circle nav-icon" style="color: white;"></i>
                <p style="color: white;">{{m.name}}</p>
              </a>
            </li>
            </ng-container>
          </ul>
        </li>
      </ng-container>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>