<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" style="padding: 50px;">
            <h3 class="grey lighter smaller" style="color: #035215; padding-bottom: 30px;">
              <span class="blue bigger-125">
                <i class="ace-icon fa fa-random"></i>
                401
              </span>
              Không có quyền truy cập
            </h3>
    
            <hr />
            <h5>
              Vui lòng liên hệ quản trị viên
            </h5>
    
            <br>
    
            <div>
              <h5 >Bạn có thể thực hiện những thao tác sau:</h5>
               <br>
              <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                  <i class="ace-icon fa fa-hand-point-right blue" style="padding-right: 10px;"></i>
                  Phản hồi thông tin với quản trị viên
                </li>
              </ul>
            </div>
    
            <hr />
            <div class="space"></div>
    
            <div class="center" style="margin-left: 350px;">
              <a href="javascript:history.back()" class="btn btn-grey" style="color: #f90202">
                <i class="ace-icon fa fa-arrow-left" style="padding-right: 10px;"></i>
                Quay lại
              </a>
            </div>
      </div>
    </div>
  </div>
